* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FAFAFA;
  font-family: "Red Hat Display", sans-serif;
  color: #28283D;
  font-weight: 900;
  line-height: 2.6rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.logo {
  margin-top: 4.8rem;
  width: 12rem;
}

.hero {
  padding-top: 4.8rem;
  width: 110%;
  display: block;
}

.btn {
  border-radius: 2.5rem;
  height: 5.8rem;
  font-size: 1.6rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  border: none;
  color: #FAFAFA;
}

.btn:hover {
  opacity: 0.7;
}

.btn-big {
  padding: 1.6rem 4rem;
  width: 19.3rem;
}

.btn-small {
  width: 14.9rem;
  padding: 1.6rem 2.9rem;
}

.circle-number {
  position: relative;
  margin-top: 14.8rem;
  width: 5.6rem;
  height: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  border-radius: 50%;
  border: 1px solid #87879D;
  background-color: #FAFAFA;
  z-index: 5;
}

.circle-number::before {
  position: absolute;
  width: 0.1rem;
  height: 8.4rem;
  top: -8.4rem;
  content: '';
  background-color: #87879D;
}

.wrapper {
  max-width: 32.7rem;
}

.header .hero-d {
  display: none;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__text-box {
  margin: 4.8rem 0 3.2rem;
}

.header__title {
  padding: 0 2rem 2.4rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.4rem;
}

.header__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: #87879D;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons .btn1 {
  margin-bottom: 1.6rem;
  background-color: #4D96A9;
}

.header__buttons .btn1 span {
  color: #8FE3F9;
}

.header__buttons .btn2 {
  background-color: #855FB1;
}

.aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.aboutus__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6.4rem 1.2rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutus__img {
  padding: 0 1.2rem 2.4rem;
  width: 50%;
  overflow: hidden;
}

.aboutus__img img {
  width: 100%;
  border-radius: 1.5rem;
}

.aboutus__text-box {
  padding-top: 6.4rem;
  text-align: center;
}

.aboutus__sentence {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: #4D96A9;
}

.aboutus__title {
  padding: 2.4rem 2rem 0;
  font-size: 3.2rem;
  line-height: 3.6rem;
  font-weight: 900;
}

.aboutus__text {
  padding-top: 3.2rem;
  font-size: 1.6em;
  font-weight: 500;
  color: #87879D;
}

.footer {
  position: relative;
  margin-top: -2.8rem;
  background-image: url("../assets/mobile/image-footer.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #FAFAFA;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__shadow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #4D96A9;
  opacity: 0.9;
  z-index: 1;
}

.footer__wrapper {
  position: relative;
  z-index: 4;
}

.footer__title {
  padding: 9.2rem 2rem 0;
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.footer__text {
  padding: 2.4rem 2.4rem 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.footer .btn-footer {
  margin: 3.2rem 0 7.2rem;
  background-color: #855FB1;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 57.3rem;
  }
  .circle-number {
    margin-top: 16.4rem;
  }
  .header__wrapper {
    width: 45.7rem;
  }
  .header__title {
    font-size: 4.8rem;
  }
  .header__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__buttons .btn1 {
    margin: 0 .4rem 0;
  }
  .header__buttons .btn2 {
    margin: 0 .4rem;
  }
  .aboutus__gallery {
    margin: 6.7rem 1.6rem 0;
  }
  .aboutus__text-box {
    padding-top: 4.8rem;
  }
  .aboutus__img {
    width: 25%;
  }
  .aboutus__title {
    max-width: 45.7rem;
    padding-top: 1.6rem;
    font-size: 4rem;
    margin: 0 auto;
  }
  .footer {
    background-image: url("../assets/tablet/image-footer.jpg");
  }
  .footer__title {
    max-width: 45.7rem;
    padding: 9.2rem 4rem 0;
    font-size: 4rem;
    margin: 0 auto;
  }
  .footer__text {
    padding-top: 3.2rem;
  }
  .footer .btn-footer {
    margin: 4rem 0 6.6rem;
  }
}

@media (min-width: 1200px) {
  .logo {
    margin-top: 8rem;
  }
  .hero {
    display: none;
  }
  .circle-number {
    margin-top: 19.4rem;
  }
  .wrapper {
    max-width: 54rem;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__wrapper {
    margin: 10.8rem 8.8rem 0;
    width: 54rem;
  }
  .header .hero-d {
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    height: 30rem;
  }
  .header .hero-left {
    margin-top: 6.1rem;
  }
  .header .hero-right {
    margin-top: 11.6rem;
  }
  .header__text-box {
    margin: 0;
  }
  .header__title {
    font-size: 6.4rem;
    line-height: 6.4rem;
    padding-bottom: 3.4rem;
  }
  .header__text {
    font-size: 1.8rem;
    padding-bottom: 3.4rem;
  }
  .aboutus__gallery {
    width: 111rem;
    margin: 6.1rem auto;
  }
  .aboutus__text-box {
    padding-top: 8.3rem;
  }
  .aboutus__text {
    font-size: 1.8rem;
  }
  .footer__wrapper {
    padding: 0;
    margin: 11.6rem 0 10.4rem;
    max-width: 111rem;
    width: 111rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer__title {
    max-width: 35rem;
    padding: 0;
    margin: 0;
  }
  .footer__text {
    max-width: 35rem;
    padding: 0;
  }
  .footer .btn-footer {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */