@media(min-width:1200px) {

    .logo {
        margin-top: 8rem;
    }
    .hero {
        display: none;
    }

    .circle-number {
        margin-top: 19.4rem;
    }

    .wrapper {
        max-width: 54rem;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        &__wrapper {
            margin: 10.8rem 8.8rem 0;
            width: 54rem;

        }

        .hero-d{
            display: block;
            object-fit: contain;
            height: 30rem;
        }

        .hero-left {
            margin-top: 6.1rem;
        }

        .hero-right {
            margin-top: 11.6rem;
        }

        &__text-box {
            margin: 0;
        }

        &__title {
            font-size: 6.4rem;
            line-height: 6.4rem;
            padding-bottom: 3.4rem;
        }

        &__text {
            font-size: 1.8rem;
            padding-bottom: 3.4rem;
        }
    }

    .aboutus {
        &__gallery {
            width: 111rem;
            margin: 6.1rem auto;
        }

        &__text-box {
            padding-top: 8.3rem;
        }

        &__text {
            font-size: 1.8rem;
        }
    }

    .footer {

        &__wrapper {
            padding: 0;
            margin: 11.6rem 0 10.4rem;
            max-width: 111rem;
            width: 111rem;
            display: flex;
            justify-content: space-between;
            text-align: left;
            align-items: flex-end;
        }

        &__title {
            max-width: 35rem;
            padding: 0;
            margin: 0;
        }

        &__text {
            max-width: 35rem;
            padding: 0;
        }

        .btn-footer {
            margin: 0;
        }
    }
}